[Unit]
Description=Hyprswitch window switcher daemon
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/hyprswitch init --show-title
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=default.target
